# Discovery
/web-app/app/(discovery)/ @ldfMion
/web-app/services/discovery/ @ldfMion
/web-app/db/discovery/ @ldfMion

# Club Profile
/web-app/app/(club-profile)/ @JunhoHwoang
/web-app/services/club-profile/ @JunhoHwoang
/web-app/components/club-profile/ @JunhoHwoang
/web-app/db/club-profile/ @JunhoHwoang

# Attendance
/web-app/app/(attendance)/ @donutdiet
/web-app/services/attendance/ @donutdiet
/web-app/db/attendance/ @donutdiet

# Account
/web-app/app/(account)/ @kbeaverson
/web-app/services/account/ @kbeaverson
/web-app/db/account/ @kbeaverson
