/* Carousel Styling */
.embla {
    width: 100%;
    margin: auto;
    --slide-height: 10rem;
    --slide-spacing: 0.5rem;
    --slide-size: 300px;
    --detail-medium-contrast: #ccc;
}

/* Custom slide content styling */
.embla [data-slot="carousel-item"] > * {
    height: var(--slide-height);
    border-radius: 0.5rem;
    border: 2px solid lightgray;
    width: 100%;
    min-width: var(--slide-size);
}
